insmod vbe
insmod vga
insmod video_bochs
insmod video_cirrus

if [ "x$feature_default_video" = xy ]
  set default_video=1
fi

set gfxpayload=text
terminal_output gfxterm

set timeout=5
set default=0

menuentry "PythOS" {
    multiboot /boot/kernel.bin
    set gfxpayload=text
    boot
}